﻿<div class="container" ng-controller="HomeCtrl">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 text-center well well-lg">
            <h1>Go ahead and <string>PROCESS</string> 20 requests!</h1>
            <button type="button" ng-click="process()" ng-disabled="isProcessing" class="btn btn-primary btn-lg"><i class="fa" ng-class="{'fa-spinner fa-spin': isProcessing, 'fa-play-circle': !isProcessing }"></i>&nbsp;PROCESS</button>
        </div>
    </div>
    <div class="row" ng-cloak>
        <div ng-repeat="message in messages">
            <div class="alert fade in" ng-class="{'alert-success': message.type === 'success', 'alert-danger': message.type !== 'success'}">
                <button class="close" data-dismiss="alert" ng-click="removeMessage(message.id)">
                    ×
                </button>
                <i class="glyphicon " ng-class="{'glyphicon-ok': message.type === 'success', 'glyphicon-remove': message.type !== 'success'}"></i>
                <strong>{{message.type === "success" ? "Success" : "Error"}}</strong> {{message.message}}
            </div>
        </div>
    </div>
    <div class="row" ng-cloak>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <table st-table="stGrid.displayedData" st-safe-src="stGrid.filteredData" class="table table-striped table-bordered table-hover" role="grid" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 30%;" st-sort="Guid">Guid</th>
                        <th style="width: 30%;" st-sort="Response.status">Status</th>
                        <th style="width: 40%;" st-sort="Response.message">Message</th>
                    </tr>
                    <tr ng-show="stGrid.data.length > 0">
                        <th colspan="3">
                            <input st-search="" class="input-sm" type="search" style="width: 100%;" />
                        </th>
                    </tr>
                </thead>
                <tbody ng-show="stGrid.displayedData.length == 0 && !stGrid.isLoading">
                    <tr role="row">
                        <td colspan="3" class="text-center">
                            <label class="text-muted">No records.</label>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="stGrid.isLoading">
                    <tr role="row">
                        <td colspan="3" class="text-center"><span><i class="fa fa-spinner fa-pulse"></i>&nbsp;Loading ...</span></td>
                    </tr>
                </tbody>
                <tbody ng-hide="stGrid.isLoading">
                    <tr st-select-row="item" st-select-mode="single" ng-repeat="item in stGrid.displayedData">
                        <td>{{item.Guid}}</td>
                        <td>{{item.Response.status}}</td>
                        <td>{{item.Response.message}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text-center">
                            <div st-pagination="" st-items-by-page="10"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
        <div class="col-sm-6 col-md-6 col-lg-6">
            <a class="btn btn-success pull-right margin-bottom-10" ng-click="getWebhookMessages()" ng-disabled="stWebhook.isLoading"><i class="fa" ng-class="{'fa-spinner fa-spin': stWebhook.isLoading, 'fa-refresh': !stWebhook.isLoading }"></i>&nbsp;Get new webhook messages</a>
            <table st-table="stWebhook.displayedData" st-safe-src="stWebhook.filteredData" class="table table-striped table-bordered table-hover" role="grid" style="width: 100%;">
                <thead>
                    <tr role="row">
                        <th style="width: 40%;" st-sort="Date">Date</th>
                        <th style="width: 60%;" st-sort="secret">Secret</th>
                    </tr>
                    <tr ng-show="stWebhook.data.length > 0">
                        <th colspan="2">
                            <input st-search="" class="input-sm" type="search" style="width: 100%;" />
                        </th>
                    </tr>
                </thead>
                <tbody ng-show="stWebhook.displayedData.length == 0 && !stWebhook.isLoading">
                    <tr role="row">
                        <td colspan="2" class="text-center">
                            <label class="text-muted">No records.</label>
                        </td>
                    </tr>
                </tbody>
                <tbody ng-show="stWebhook.isLoading">
                    <tr role="row">
                        <td colspan="2" class="text-center"><span><i class="fa fa-spinner fa-pulse"></i>&nbsp;Loading ...</span></td>
                    </tr>
                </tbody>
                <tbody ng-hide="stWebhook.isLoading">
                    <tr st-select-row="item" st-select-mode="single" ng-repeat="item in stWebhook.displayedData">
                        <td>{{item.date | date:'medium'}}</td>
                        <td>{{item.secret}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="2" class="text-center">
                            <div st-pagination="" st-items-by-page="10"></div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>